<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="shopDetail.css" />
</head>

<body>
    <contents>
        <center>
            <div class="content_box">
                <!--이미지-->
                <div class="shop_top">
                    <div class="image">
                        <img src="pic/drumpad.png" id="shop_img" />
                    </div>
                    <!--텍스트-->
                    <div class="text">
                        <h1>드럼패드</h1>
                        <p id="price_text">000000원</p>
                    </div>
                </div>
                <div class="tag">
                    <b><p id="tag_text">상세설명</p></b>
                </div>
                <div class="detail_img">
                    <img src="pic/shop_detail_img.png" id="detail_img">
                </div>
            </div>
        </center>
    </contents>
    <footer>
       <!--푸터-->
        <div class="footer_box">
            <p id="c_text">Copyrightⓒ2019 By RakuRaku. All right reserved.</p>
        </div>
       <!--하단고정메뉴바-->
        <div class="footer_menu">
              <img src="pic/up_arrow.png" id="up_arrow">
              <p id="up_text">TOP</p>
               <img src="pic/minus-symbol.png" id="minus_btn">
                <input type="text" placeholder="1" class="input">
                <a href="#"></a>
                <img src="pic/plus-button.png"  id="plus_btn">
            <button id="shop_button2" href="#">
                <b>주문하기</b>
            </button>
            <button id="shop_button1" href="#">
                <b>장바구니</b>
            </button>
        </div>
    </footer>
</body>
</html>