body {
  padding: 0;
  margin: 0;
}

/**컨텐츠박스**/
.contents_box {
  width: 1400px;
  margin-top: 100px;
  height: 800px;
  background-color: #D4E9F7;
  margin-bottom: 100px;
}


.middle_box {
  width: 800px;
  height: 250px;
  padding-top: 235px;
}

.album_img {
  width: 120px;
}

.filebox label {
  width: 200px;
  height: 60px;
  display: inline-block;
  padding: .5em .75em;
  color: #fff;
  font-size: 25px;
  line-height: normal;
  vertical-align: middle;
  background-color: #4aa3fd;
  cursor: pointer;
  border-bottom-color: #e2e2e2;
  border-radius: 50px;
}

#file_select_text {
  margin-top: 10px;
}

.filebox input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.wavesurfer-region{
  z-index: 3;
}
.wavesurfer-handle-start {
  z-index: 3;
  width: 50%; 
  max-width: 40px;
  background-color: #000;
}

.wavesurfer-handle-end {
  z-index: 3;
  width: 50%; 
  max-width: 40px;
  background-color: #000;
}
