body {
    padding: 0;
    margin: 0;
}

.workshop_jumbo {
    margin-left: 5vw;
    margin-right: 5vw;
    height: 30vh;
    width: 90vw;
}

#workshop_jumbo_img {
    width: 100%;
}

.contents_box {
    position: relative;
    margin-top: -1vw;
    width: 80vw;
    height: 30vw;
    min-height: 60%;
    margin-bottom: 2vw;
    background-color: rgba(236, 234, 234, 0.8)
}

.index_box {
    font-size: 1.7vw;
    background-color:#50bbf8;
    color:white;
    width: 20vw;
    height: auto;
    max-height: 10vh;
    left: 40px;
    top: -30px;
    position: absolute;
    line-height: 2.3em;
}

.index_box_hr {
    height: 1px;
    background-color: white;
    position: relative;
    bottom: 0.7em;
    width: 12vw;
}

.album_img {
    width: 10vw;
    position: relative;
    margin-top: 10%;
    border-radius: 50%;
    cursor: pointer;
}

#dropZone {
    height: 30vw;
    min-height: 60%;
}

#filebox label {
    width: 10vw;
    margin-top: 10%;
    border-radius: 50%;
}

#file_select_text {
    margin-top: 10px;
}

.filebox input[type="file"] {
    /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.wavesurfer-handle-start {
    width: 10px;
    max-width: 10
}

.body_box {
    height: 850px;
    width: 1400px;
}

.top_box {
    /* width: 80vw; */
    /* height: 80vh; */
    text-align: center;
    /* vertical-align: middle; */
    padding-top: 80px;
    position: relative;
    margin-top: -1vw;
    width: 80vw;
    height: 30vw;
    min-height: 60%;
    margin-bottom: 2vw;
}

.wave_box {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#76b9fc+0,99dcff+37,5dacfc+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#10127f+1,423160+38,1000a0+100 */
    background: #10127f;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #10127f 1%, #423160 38%, #1000a0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #10127f 1%, #423160 38%, #1000a0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(180deg, #000000, #5e027b, #000000);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#10127f', endColorstr='#1000a0', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    box-shadow: 3px 3px 15px 3px #838383;
    margin-bottom: 50px;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    /* transform: translate(13%, 35%); */
    overflow-x: hidden;
}

.wavesurfer-region{
    border: 2px dotted;
    border-color: white;
    height: 98%;
}

.waveform {
    width: 1400px;
    margin-bottom: 100px;
}

#control_box {
    float: left;
}

#play_btn {
    cursor: pointer;
    border-radius: 50%;
}

#pause_btn {
    cursor: pointer;
    border-radius: 50%;
}

.timer_box {
    width: 72vw;
    height: 35px;
    margin-bottom: 15px;
    display: flex;
}

#current_time {
    font-size: 30px;
    color: #a9aeb3;
    float: left;
    margin-left: 1%
}

#play_time {
    float: left;
    position: relative;
    float: right;
    font-size: 30px;
    color: #a9aeb3;
    margin-left: auto;
    left: -1%;
}

.cutter_box {
    position: relative;
    left: 15%;
}

#flex_box {
    display: inline-flex;
    justify-content: space-between;
}

#start_sec,
#end_sec {
    width: 100px;
    height: 35px;
    font-size: 17px;
    border: 2px solid #a9aeb3;
    border-radius: 50px;
    text-align: center;
    margin-right: 5px;
    margin-left: 2px;
}

#clip_name {
    width: 150px;
    height: 35px;
    font-size: 17px;
    border: 2px solid #a9aeb3;
    border-radius: 50px;
    padding-left: 10px;
}

#input_box {
    margin-bottom: 15px;
    margin-top: 3%;
}

#button_box {
    flex: auto;
}

#cut_btn,
#remove_btn {
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

#remove_img {
    border-radius: 50%;
}

.under_box {
    position: relative;
    margin-top: 20%;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    float: left;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 1%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(88, 152, 224);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#loading {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.title_text {
    color: #a9aeb3;
}