body {
    height: 1500px;
    padding: 0;
    margin: 0;
}

#custom-search-form {
    width: 1px;
    margin-top: 10px;
    margin-bottom: 10px
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    padding: 1px 5px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}

s ul,
li {
    list-style: none;
}

#slide {
    margin-left: -37px;
    width: 76%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#slide ul {
    width: 400%;
    height: 100%;
    transition: 1s;
}

#slide ul:after {
    content: "";
    display: block;
    clear: both;
}

#slide li {
    float: left;
    width: 25%;
    height: 100%;
}

#slide input {
    display: none;
}

#slide label {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border: 2px solid #4aa3fd;
    background: #fff;
    transition: 0.3s;
    border-radius: 50%;
    cursor: pointer;
}

#slide .pos {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

#pos1:checked ~ ul {
    margin-left: 0%;
}

#pos2:checked ~ ul {
    margin-left: -100%;
}

#pos3:checked ~ ul {
    margin-left: -200%;
}

#pos4:checked ~ ul {
    margin-left: -300%;
}

#pos1:checked ~ .pos > label:nth-child(1) {
    background: #4aa3fd;
}

#pos2:checked ~ .pos > label:nth-child(2) {
    background: #4aa3fd;
}

#pos3:checked ~ .pos > label:nth-child(3) {
    background: #4aa3fd;
}

#pos4:checked ~ .pos > label:nth-child(4) {
    background: #4aa3fd;
}



input: -ms-input-placeholder {
    color: #4aa3fd;
}

input :: -webkit-input-placeholder {
    color: #4aa3fd;
}

input :: -moz-placeholder {
    color: #4aa3fd;
}

.search_box {
    display: inline-block;
    height: 60px;
    margin-top: 11px;
    margin-left: 1237px;
}

.search_form {
    height: 40px;
    width: 400px;
    border: 2px solid #4aa3fd;
    background: #ffffff;
}

input {
    font-size: 16px;
    width: 325px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

#search_button {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #4aa3fd;
    outline: none;
    float: right;
    color: #ffffff;
    cursor: pointer;
}

select {
    margin-left: -130px;
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    background: url(../../images/pic/chevron-arrow-down.png) no-repeat 95% 50%;
    /* 화살표 모양의 이미지 */
    width: 200px;
    /* 원하는 너비설정 */
    padding: .8em .5em;
    /* 여백으로 높이 설정 */
    font-family: inherit;
    /* 폰트 상속 */
    background: url(../../images/pic/chevron-arrow-down.png) no-repeat 95% 50%;
    /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 2px solid #4aa3fd;
    border-radius: 0px;
    /* iOS 둥근모서리 제거 */
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;

}

/* IE 10, 11의 네이티브 화살표 숨기기 */

select::-ms-expand {
    display: none;
}

.contents_1 {
    width: 1391px;
    margin-left: 250px;
    height: auto;
}

.select_box {
    width: 1391px;
    margin-left: 250px;
    display: inline-block;
}

.select {
    width: 80px;
    float: right;
}

.contents_2 {
    width: 1391px;
    margin-left: 250px;
    height: auto;
}

.title_area1,
.title_area2 {
    margin-top: 20px;
    margin-bottom: px;
    color: #4864ff;
}

h4 {
    text-decoration: none;
}

.sub_photo {
    width: 340px;
    margin-bottom: 60px;
    float: left;
}

.picture {
    width: 280px;
    margin-left: 5px;
}

.view {
    margin-left: 3px;
    margin-top: -3px;
    width: 24px;
    margin-right: 3px;
}

.like {
    width: 19px;
    margin-left: 40px;
    margin-right: 3px;
}

.download {
    width: 18px;
    margin-left: 30px;
    margin-top: -5px;
}

.view,
.view_text,
.like,
.like_text {
    float: left;
}

.view_text,
.like_text {
    margin-top: -3px;
}

/**페이지네이션**/
.pagination {
    --uiPaginationAlign: var(--paginationAlign);
    --uiPaginationArrowSize: var(--paginationArrowSize, 22px);
    --uiPaginationFontSize: var(--paginationFontSize);

    font-size: var(--uiPaginationFontSize);
}

.pagination__list {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: var(--uiPaginationAlign);
}

.pagination__item:not(.pagination__control_prev):not(.pagination__item_active) {
    padding-left: .5em;
}

.pagination__item:not(.pagination__control_next):not(.pagination__item_active) {
    padding-right: .5em;
}

.pagination__item {
    display: inline-block;
    line-height: 1;
    cursor:pointer;
}

.pagination__control {
    position: relative;
}

.pagination__control:before,
.pagination__control:after {
    font-size: var(--uiPaginationArrowSize);
    line-height: 1;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pagination__control_prev {
    padding-left: calc(var(--uiPaginationArrowSize) + 5px);
    cursor:pointer;
}

.pagination__control_prev:before {
    content: "←";
    left: 0;
    margin-left: 80px;
}

.pagination__control_next {
    padding-right: calc(var(--uiPaginationArrowSize) + 5px);
    cursor:pointer;
}

.pagination__control_next:after {
    content: "→";
    right: 0;
}

.pagination__item_active {
    padding: .5875em .8em;
    margin-right: .5em;
    margin-left: .5em;
    color: #4aa3fd;
}

.footer_box {
    width: 100%;
    height: 70px;
    background-color: #4aa3fd;
    padding: 0;
    margin: 0;
}

#c_text {
    font-size: 18px;
    color: #ffffff;
    vertical-align: middle;
    float: right;
    margin-right: 30px;
}

.write_btn {
  width: 170px;
  height: 50px;
  border-radius: 50px;
  border : 2px solid #4aa3fd;
  background-color: #4aa3fd;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
