@media screen and (min-width: 769px) {
    .package_posts {
        margin-top: 60px;
        position: absolute;
        left: 2%;
        right: 2%;
        width: 96%;
        height: auto;
    }

    #package_content {
        margin-left: 20%;
        margin-right: 26%;
        width: 100%;
        display: grid;
        grid-template-columns: 40% 4% 20%;
        grid-template-rows: 420px;
        /* background-color: lightgreen; */
        max-height: 420px;
    }

    #package {
        background-color: rgba(238, 238, 238, 0.6);
        /* max-height: 250px; */
    }

    #package_list {
        height: 100%;
        max-height: 700px;
        overflow-y: scroll;
        margin-left: 2%;
        border: 1px;
    }

    .video_list {
        cursor: pointer;
    }
}
